.animated-accordion dl,
.animated-accordion-list {
  border: 1px solid #ddd;
}
.animated-accordion dl:after,
.animated-accordion-list:after {
  content: "";
  display: block;
  height: 1em;
  width: 100%;
  background-color: #2ba659;
}

.animated-accordion dd,
.animated-accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.animated-accordion p {
  padding: 1em 2em 1em 2em;
}

.animated-accordion {
  position: relative;
  background-color: #eee;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
}

.animated-accordionTitle,
.animated-accordion__Heading {
  background-color: #38cc70;
  text-align: center;
  font-weight: 700;
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid #30bb64;
}
.animated-accordionTitle:before,
.animated-accordion__Heading:before {
  content: "+";
  font-size: 1.5em;
  line-height: 0.5em;
  float: left;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.animated-accordionTitle:hover,
.animated-accordion__Heading:hover {
  background-color: #2ba659;
}

.animated-accordionTitleActive,
.animated-accordionTitle.is-expanded {
  background-color: #2ba659;
}
.animated-accordionTitleActive:before,
.animated-accordionTitle.is-expanded:before {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.animated-accordionItem {
  height: auto;
  overflow: hidden;
  max-height: 50em;
  transition: max-height 1s;
}
@media screen and (min-width: 48em) {
  .animated-accordionItem {
    max-height: 15em;
    transition: max-height 0.5s;
  }
}

.animated-accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .animated-accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  -webkit-animation: animated-accordionIn 0.45s normal ease-in-out both 1;
          animation: animated-accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  -webkit-animation: animated-accordionOut 0.45s alternate ease-in-out both 1;
          animation: animated-accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes animated-accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animated-accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes animated-accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}
@keyframes animated-accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}